.iconContainer {
  border-radius: 16px;
  background-color: #f2f1f1;
  padding: 10px;
  border: 1px solid #f2f1f1;
}

.iconStyle {
  height: 25px;
  width: 25px;
}

.ItemContainer:hover .iconContainer {
  border: 1px solid #e10a0a;
  background-color: transparent;
  cursor: pointer;
}
.active {
  border: 1px solid #e10a0a;
}
.ItemContainer:hover .iconContainer .iconStyle {
  filter: brightness(0) saturate(100%) invert(74%) sepia(100%) saturate(9999%)
    hue-rotate(355deg) brightness(110%) contrast(105%) !important;
}

.title {
  color: initial;
  font-weight: 700;
  font-size: 0.8rem;
  font-family: Roboto !important;
}
.ItemContainer:hover .title {
  color: #e10a0a !important;
}
