.providerCardContainer {
  border-radius: 0 0 16px 16px !important;
  background: rgba(255, 255, 255, 0.8) !important;
  padding: 1rem !important;
}

.cardContainer {
  cursor: pointer !important;
  padding: 0 0.5rem !important;
}

.customWidth {
  width: 10em !important;
}
