.cardLogo {
  border-radius: 16px 16px 0px 0px !important;
  background: #e10a0a !important;
  text-align: center !important;
  padding: 1rem !important;
}
.cardLogo img {
  border-radius: 16px 16px 0px 0px !important;
}

.cardContent {
  padding: 9px !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  min-height: 70px !important;
  font-family: "Instrument Sans" !important;
}
