.accordionContainer {
  border-radius: 16px !important;
  border-bottom: 1px solid #f2f1f1 !important;
  background: linear-gradient(
    90deg,
    #fff 0%,
    rgba(255, 255, 255, 0.68) 100%
  ) !important;

  /* shadow 4 */
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.08) !important;
}

.accordionTitle {
  font-family: Instrument Sans !important;
  font-weight: 700 !important;
  font-size: 0.6rem !important;
  position: relative !important;
}
.accordionTitle::after {
  content: "" !important;
  position: absolute !important;
  bottom: -125% !important;
  left: 0 !important;
  width: 100% !important;
  border-bottom: 1px solid black !important;
}

.extended {
  color: #e10a0a !important;
}
.extended::after {
  bottom: -180% !important;
  border-bottom: 1px solid #e10a0a !important;
}

.accordionDetails {
  background-color: #f5f5f5 !important;
}
