.mainHeader {
  border-radius: 16px !important;
  border-bottom: 1px solid #b40909 !important;
  background: linear-gradient(180deg, #e10a0a 0%, #ba0c0c 100%) !important;
  padding: 20px !important;
  margin-bottom: 2rem !important;
}
.logo {
  width: 6em !important;
  height: auto !important;
}
.registerButton {
  border-radius: 9999999px !important;
  background: #fff !important;
  color: #000 !important;
  font-weight: 700 !important;
  padding: 10px 20px !important;
}
.registerButton:hover {
  background: #fff !important;
  color: #000 !important;
}

.loginButton {
  font-weight: 700 !important;
  color: #fff !important;
}
@media screen and (max-width: 375px) {
  .mainHeader {
    padding: 15px !important;
  }
  .logo {
    width: 5em !important;
  }
  .registerButton {
    font-size: 0.7rem !important;
  }
}
