.providersHeader {
  border-radius: 16px 16px 0px 0px !important;
  background: #fff !important;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.08) !important;
  padding: 16px !important;
}
.providersTitle {
  color: #1f2947 !important;
  font-size: 1rem !important;
  font-family: Roboto !important;
  font-weight: 400 !important;
}

.viewAllBtn {
  color: #1f2947 !important;
  border: 1px solid #1f2947 !important;
  border-radius: 999px !important;
  padding: 12px !important;
  font-family: Roboto !important;
  font-weight: 700 !important;
  line-height: 16px !important;
}
