.title {
  color: #ffa3a3 !important;
  text-align: center !important;

  /* Sports/Body/Bold/12px */
  font-family: Roboto !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 16px !important; /* 133.333% */
}
