.title {
  color: #ffa3a3;
  text-align: center;

  /* Sports/Body/Bold/12px */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
