.imageContainer {
  position: relative;
  width: 100%;
  height: 18em;
  border-radius: 16px;
}

.heroImage {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .imageContainer {
    height: 16em;
  }
}
@media screen and (max-width: 991px) {
  .imageContainer {
    height: 14em;
  }
}
