.imageContainer {
  position: relative !important;
  width: 100% !important;
  height: 18em !important;
  border-radius: 16px !important;
  cursor: pointer !important;
}

.heroImage {
  border-radius: 16px !important;
  width: 100% !important;
  height: 100% !important;
}
@media screen and (max-width: 1200px) {
  .imageContainer {
    height: 16em !important;
  }
}
@media screen and (max-width: 991px) {
  .imageContainer {
    height: 14em !important;
  }
}
